.ramp
  template(v-if="tframe === 'commit'")
    template(v-for="(slice, j) in user.commits")
      a.ramp__slice(
        draggable="false",
        onclick="rampClick(event);",
        v-for="(commit, k) in slice.commitResults",
        v-if="commit.insertions>0",
        v-bind:href="getLink(user, commit)", target="_blank",
        v-bind:title="`[${slice.date}] ${commit.messageTitle}: ${commit.insertions} lines`",
        v-bind:class="'ramp__slice--color' + getSliceColor(slice.date)",
        v-bind:style="{\
          zIndex: user.commits.length - j,\
          borderLeftWidth: getWidth(commit) + 'em',\
          right: ((getSlicePos(slice.date)\
            + (getCommitPos(k, slice.commitResults.length))) * 100) + '%'\
          }"
      )

  template(v-else)
    a.ramp__slice(
      draggable="false",
      onclick="rampClick(event);",
      v-for="(slice, j) in user.commits",
      v-if="slice.insertions > 0",
      v-bind:title="`${tframe === 'day' \
        ? '[' + slice.date + '] Daily' \
        : '[' + slice.date + ' till ' + slice.endDate + '] Weekly'} contribution: ${slice.insertions} lines`",
      v-bind:href="getLink(user, slice)", target="_blank",
      v-bind:class="'ramp__slice--color' + getSliceColor(slice.date)",
      v-bind:style="[\
          {\
            zIndex: user.commits.length - j,\
            borderLeftWidth: getWidth(slice) + 'em',\
            right: (getSlicePos(tframe === 'day' ? slice.date : slice.endDate) * 100) + '%' \
          },\
          /* disallow clickable ramp slices when merging groups that are grouped by authors \
             as unable to form a url that navigates to different repositories of the same author */\
          mergegroup && groupby === 'groupByAuthors' ?\
            { cursor: 'auto', pointerEvents: 'none' }  :\
            { cursor: 'pointer', pointerEvents: 'auto' }\
      ]"
    )
