#summary
  form.summary-picker.mui-form--inline(onsubmit="return false;")
    .summary-picker__section
      .mui-textfield.search_box
        input(type="text", v-on:change="updateFilterSearch", v-model="filterSearch")
        label search
        button.mui-btn.mui-btn--raised(type="button", v-on:click.prevent="resetFilterSearch") x
      .mui-select.grouping
        select(v-model="filterGroupSelection")
          option(value="groupByNone") None
          option(value="groupByRepos") Repo/Branch
          option(value="groupByAuthors") Author
        label group by
      .mui-select.sort-group
        select(v-model="sortGroupSelection", v-on:change="getFiltered")
          option(value="groupTitle") &uarr; group title
          option(value="groupTitle dsc") &darr; group title
          option(value="totalCommits") &uarr; contribution
          option(value="totalCommits dsc") &darr; contribution
          option(value="variance") &uarr; variance
          option(value="variance dsc") &darr; variance
        label sort groups by
      .mui-select.sort-within-group
        select(
          v-model="sortWithinGroupSelection",
          v-bind:disabled="filterGroupSelection === 'groupByNone' || allGroupsMerged",
          v-on:change="getFiltered"
        )
          option(value="title") &uarr; title
          option(value="title dsc") &darr; title
          option(value="totalCommits") &uarr; contribution
          option(value="totalCommits dsc") &darr; contribution
          option(value="variance") &uarr; variance
          option(value="variance dsc") &darr; variance
        label sort within groups by
      .mui-select.granularity
        select(v-model="filterTimeFrame", v-on:change="getFiltered")
          option(value="commit") Commit
          option(value="day") Day
          option(value="week") Week
        label granularity
      .mui-textfield
        input(v-if="isSafariBrowser", type="text", placeholder="yyyy-mm-dd",
          v-bind:value="filterSinceDate", v-on:keyup.enter="updateTmpFilterSinceDate",
          onkeydown="formatInputDateOnKeyDown(event)", oninput="appendDashInputDate(event)", maxlength=10)
        input(v-else, type="date", name="since", v-bind:value="filterSinceDate", v-on:input="updateTmpFilterSinceDate",
          v-bind:min="minDate", v-bind:max="filterUntilDate")
        label since
      .mui-textfield
        input(v-if="isSafariBrowser", type="text", placeholder="yyyy-mm-dd",
          v-bind:value="filterUntilDate", v-on:keyup.enter="updateTmpFilterUntilDate",
          onkeydown="formatInputDateOnKeyDown(event)", oninput="appendDashInputDate(event)", maxlength=10)
        input(v-else, type="date", name="until", v-bind:value="filterUntilDate", v-on:input="updateTmpFilterUntilDate",
          v-bind:min="filterSinceDate", v-bind:max="maxDate")
        label until
      .mui-textfield
        a(v-on:click="resetDateRange") Reset date range
      .summary-picker__checkboxes.summary-picker__section
        label.filter-breakdown
          input.mui-checkbox(
            type="checkbox",
            v-model="filterBreakdown",
            v-on:change="getFiltered"
          )
          span breakdown by file type
        label.merge-group(
          v-bind:style="filterGroupSelection === 'groupByNone' ? { opacity:0.5 } : { opacity:1.0 }"
        )
          input.mui-checkbox(
            type="checkbox",
            v-model="allGroupsMerged",
            v-bind:disabled="filterGroupSelection === 'groupByNone'"
          )
          span merge all groups
  .error-message-box(v-if="Object.entries(errorMessages).length")
    .error-message-box__close-button(v-on:click="dismissTab($event)") &times;
    .error-message-box__message The following issues occurred when analyzing the following repositories:
    .error-message-box__failed-repo(v-for="errorBlock in errorMessages")
      font-awesome-icon(icon="exclamation")
      span.error-message-box__failed-repo--name {{ errorBlock.repoName }}
      .error-message-box__failed-repo--reason(
        v-if="errorBlock.errorMessage.startsWith('Unexpected error stack trace')"
      )
        span Oops, an unexpected error occurred. If this is due to a problem in RepoSense, please report in&nbsp;
        a(
          v-bind:href="getReportIssueGitHubLink(errorBlock.errorMessage)", target="_blank"
        )
          strong our issue tracker&nbsp;
        span or email us at&nbsp;
        a(
          v-bind:href="getReportIssueEmailLink(errorBlock.errorMessage)"
        )
          span {{ getReportIssueEmailAddress() }}
      .error-message-box__failed-repo--reason(v-else) {{ errorBlock.errorMessage }}
  .fileTypes(v-if="filterBreakdown")
    .checkboxes.mui-form--inline(v-if="Object.keys(fileTypeColors).length > 0")
      label(style='background-color: #000000; color: #ffffff')
        input.mui-checkbox--fileType#all(type="checkbox", v-model="checkAllFileTypes")
        span All:&nbsp;
      template(v-for="fileType in Object.keys(fileTypeColors)" )
        label(
          v-bind:key="fileType",
          v-bind:style="{ 'background-color': fileTypeColors[fileType], \
            'color': getFontColor(fileTypeColors[fileType])}"
        )
          input.mui-checkbox--fileType(
            type="checkbox",
            v-bind:id="fileType",
            v-bind:value="fileType",
            v-model="checkedFileTypes",
            v-on:change="getFiltered"
          )
          span {{ fileType }}
  v-summary-charts(
    v-bind:filtered="filtered",
    v-bind:checked-file-types="checkedFileTypes",
    v-bind:avg-contribution-size="avgContributionSize",
    v-bind:filter-group-selection="filterGroupSelection",
    v-bind:filter-breakdown="filterBreakdown",
    v-bind:filter-time-frame="filterTimeFrame",
    v-bind:filter-since-date="filterSinceDate",
    v-bind:filter-until-date="filterUntilDate",
    v-bind:filter-search="filterSearch",
    v-bind:min-date="minDate",
    v-bind:max-date="maxDate"
  )
