#authorship
  .panel-title
    span Code Panel
  .toolbar--multiline
    a(v-if="activeFilesCount < selectedFiles.length", v-on:click="expandAll()") show all file details
    a(v-if="activeFilesCount > 0", v-on:click="collapseAll()") hide all file details
  .panel-heading
    a.group-name(
      v-bind:href="info.location", target="_blank",
      v-bind:title="'Click to open the repo'"
    ) {{ info.repo }}
    .author(v-if="!info.isMergeGroup")
      span &#8627; &nbsp;
      span {{ authorDisplayName }} ({{ info.author }})
    .period
      span &#8627; &nbsp;
      span {{ info.minDate }} to {{ info.maxDate }} &nbsp;&nbsp; ({{ selectedFiles.length }} files changed)
  .title
    .contribution(v-if="isLoaded && files.length!=0")
      .sorting.mui-form--inline
        .mui-select.sort-by
          select(v-model="filesSortType")
            option(value="lineOfCode") LoC
            option(value="path") Path
            option(value="fileName") File Name
            option(value="fileType") File Type
          label sort by
        .mui-select.sort-order
          select(v-model="toReverseSortFiles")
            option(v-bind:value='true') Descending
            option(v-bind:value='false') Ascending
          label order
      .searchbox
        input.radio-button--search(
          type="radio",
          value="search",
          v-model="filterType",
          v-on:change="indicateSearchBar(); updateSearchBarValue();"
        )
        .mui-form--inline
          input#search(
            type="search",
            placeholder="Filter by glob",
            ref="searchBar",
            v-bind:value="searchBarValue",
            v-on:focus="indicateSearchBar",
            v-on:keyup.enter="updateSearchBarValue"
          )
          button#submit-button(
            type="button",
            v-on:click="indicateSearchBar(); updateSearchBarValue();"
          ) Filter
      .fileTypes
        input.radio-button--checkbox(
          type="radio",
          value="checkboxes",
          v-model="filterType",
          v-on:change="indicateCheckBoxes"
        )
        .checkboxes.mui-form--inline(v-if="files.length > 0")
          label(style='background-color: #000000; color: #ffffff')
            input.mui-checkbox--fileType#all(type="checkbox", v-model="isSelectAllChecked")
            span(v-bind:title="getTotalFileBlankLineInfo()")
              span All&nbsp;
              span {{ totalLineCount }}&nbsp;
              span ({{ totalLineCount - totalBlankLineCount }})&nbsp;
          template(v-for="fileType in Object.keys(fileTypeLinesObj)")
            label(
              v-bind:key="fileType",
              v-bind:style="{\
                'background-color': fileTypeColors[fileType],\
                'color': getFontColor(fileTypeColors[fileType])\
                }"
            )
              input.mui-checkbox--fileType(type="checkbox", v-bind:id="fileType", v-bind:value="fileType",
                v-on:change="indicateCheckBoxes", v-model="selectedFileTypes")
              span(v-bind:title="getFileTypeBlankLineInfo(fileType)")
                span {{ fileType }}&nbsp;{{ fileTypeLinesObj[fileType] }}&nbsp;
                span ({{ fileTypeLinesObj[fileType] - fileTypeBlankLinesObj[fileType] }})&nbsp;
          label.binary-fileType(v-if="binaryFilesCount > 0")
            input.mui-checkbox--fileType(type="checkbox", v-model="isBinaryChecked")
            span(
              v-bind:title="binaryFilesCount + ' binary files (not included in total line count)'"
            )
              span {{ binaryFilesCount }} binary file(s)

  .files(v-if="isLoaded")
    .empty(v-if="files.length === 0") nothing to see here :(
    template(v-for="(file, i) in selectedFiles")
      .file(v-bind:key="file.path")
        .title
          span.path(v-on:click="toggleFileActiveProperty(file)")
            .tooltip
              font-awesome-icon(icon="caret-down", fixed-width, v-show="file.active")
              span.tooltip-text(v-show="file.active") Click to hide file details
              font-awesome-icon(icon="caret-right", fixed-width, v-show="!file.active")
              span.tooltip-text(v-show="!file.active") Click to show file details
            span {{ i + 1 }}. &nbsp;&nbsp; {{ file.path }} &nbsp;
          span.icons
            a(
              v-bind:href="getFileLink(file, 'commits')", target="_blank"
            )
              .tooltip
                font-awesome-icon.button(icon="history")
                span.tooltip-text Click to view the history view of file
            a(
              v-if='!file.isBinary',
              v-bind:href="getFileLink(file, 'blame')", target="_blank",
              title="click to view the blame view of file"
            )
              .tooltip
                font-awesome-icon.button(icon="user-edit")
                span.tooltip-text Click to view the blame view of file
          span.fileTypeLabel(
            v-if='!file.isBinary',
            v-bind:style="{\
              'background-color': fileTypeColors[file.fileType],\
              'color': getFontColor(fileTypeColors[file.fileType])\
              }"
          ) {{ file.fileType }}&nbsp;{{ file.lineCount }}&nbsp;({{ file.lineCount - file.blankLineCount }})
          span.fileTypeLabel.binary(v-if='file.isBinary') binary&nbsp;
        pre.hljs.file-content(v-if="file.wasCodeLoaded && !file.isBinary", v-show="file.active")
          template(v-for="segment in file.segments")
            v-segment(v-bind:segment="segment", v-bind:path="file.path")
        pre.file-content(v-if="file.isBinary", v-show="file.active")
          .binary-segment
            .indicator BIN
            .bin-text Binary file not shown.
