#zoom
  .panel-title
    span Commits Panel
  .toolbar--multiline(v-if="filteredUser.commits.length && totalCommitMessageBodyCount")
    a(
      v-if="expandedCommitMessagesCount < totalCommitMessageBodyCount",
      v-on:click="toggleAllCommitMessagesBody(true)"
    ) show all commit messages
    a(
      v-if="expandedCommitMessagesCount > 0",
      v-on:click="toggleAllCommitMessagesBody(false)"
    ) hide all commit messages
  .panel-heading
    .group-name
      span(
        v-if="info.zFilterGroup === 'groupByAuthors'"
      ) {{ filteredUser.displayName }} ({{ filteredUser.name }})
      a(
        v-else,
        v-bind:href="info.zLocation", target="_blank",
        v-bind:title="'Click to open the repo'"
      )
        span {{ filteredUser.repoName }}
    .author(v-if="!info.zIsMerged")
      span &#8627; &nbsp;
      span(v-if="info.zFilterGroup === 'groupByAuthors'") {{ filteredUser.repoName }}
      span(v-else) {{ filteredUser.displayName }} ({{ filteredUser.name }})
    .period
      span &#8627; &nbsp;
      span {{ info.zSince }} to {{ info.zUntil }} &nbsp;
      a(v-on:click="openSummary") [Show ramp chart for this period]
  .zoom__title
    .zoom__title--granularity granularity: one ramp per {{ info.zTimeFrame }}
    .zoom__title--tags
      template(v-for="commit in filteredUser.commits")
        template(v-for="commitResult in commit.commitResults")
          template(v-if="commitResult.tags")
            .tag(
              v-for="tag in commitResult.tags",
              v-on:click="scrollToCommit(tag, `tag ${commitResult.hash}`)"
            )
              font-awesome-icon(icon="tags")
              span &nbsp;{{ tag }}

  v-ramp(
    v-bind:groupby="info.zFilterGroup",
    v-bind:user="filteredUser",
    v-bind:tframe="info.zTimeFrame",
    v-bind:sdate="info.zSince",
    v-bind:udate="info.zUntil",
    v-bind:avgsize="info.zAvgCommitSize",
    v-bind:mergegroup="info.zIsMerged",
    v-bind:fromramp="info.zFromRamp",
    v-bind:filtersearch="info.zFilterSearch")

  .sorting.mui-form--inline
    .mui-select.sort-by
      select(v-model="commitsSortType")
        option(value="time") Time
        option(value="lineOfCode") LoC
      label sort by
    .mui-select.sort-order
      select(v-model="toReverseSortedCommits")
        option(v-bind:value='true') Descending
        option(v-bind:value='false') Ascending
      label order

  .fileTypes
    .checkboxes.mui-form--inline(v-if="fileTypes.length > 0")
      label(style='background-color: #000000; color: #ffffff')
        input.mui-checkbox--fileType(type="checkbox", v-model="isSelectAllChecked", value="all")
        span All&nbsp;
      template(v-for="fileType in fileTypes")
        label(
          v-bind:key="fileType",
          v-bind:style="{\
                  'background-color': fileTypeColors[fileType],\
                  'color': getFontColor(fileTypeColors[fileType])\
                  }"
        )
          input.mui-checkbox--fileType(type="checkbox", v-bind:value="fileType",
            v-on:change="updateSelectedFileTypesHash", v-model="selectedFileTypes")
          span {{ fileType }} &nbsp;

  .zoom__day(v-for="day in selectedCommits", v-bind:key="day.date")
    h3(v-if="info.zTimeFrame === 'week'") Week of {{ day.date }}
    h3(v-else) {{ day.date }}
    template
      //- use tabindex to enable focus property on div
      .commit-message(
        tabindex="-1",
        v-for="slice in day.commitResults",
        v-bind:key="slice.hash",
        v-bind:class="{ 'message-body active': slice.messageBody !== '' }"
      )
        a.message-title(v-bind:href="getSliceLink(slice)", target="_blank")
          .within-border {{ slice.messageTitle.substr(0, 50) }}
          .not-within-border(v-if="slice.messageTitle.length > 50") {{ slice.messageTitle.substr(50) }}
        span &nbsp; ({{ slice.insertions }} lines) &nbsp;
        template
          span.fileTypeLabel(
            v-for="fileType in filterSelectedFileTypes(Object.keys(slice.fileTypesAndContributionMap))",
            v-bind:style="{\
              'background-color': fileTypeColors[fileType],\
              'color': getFontColor(fileTypeColors[fileType])\
              }"
          ) {{ fileType }}
        template(v-if="slice.tags", v-for="tag in slice.tags")
          .tag(tabindex="-1", v-bind:class="[`${slice.hash}`, tag]")
            font-awesome-icon(icon="tags")
            span &nbsp;{{ tag }}
        a(
          v-if="slice.messageBody !== ''",
          v-on:click="updateExpandedCommitMessagesCount",
          onclick="toggleNext(this)"
        )
          .tooltip
            font-awesome-icon.commit-message--button(icon="ellipsis-h")
            span.tooltip-text Click to show/hide the commit message body
        .body(v-if="slice.messageBody !== ''")
          pre {{ slice.messageBody }}
            .dashed-border
