#zoom
  .panel-title
    span Commits Panel
  .toolbar--multiline(v-if="filteredUser.commits.length && totalCommitMessageBodyCount")
    a(
      v-if="expandedCommitMessagesCount < totalCommitMessageBodyCount",
      v-on:click="toggleAllCommitMessagesBody(true)"
    ) show all commit messages
    a(
      v-if="expandedCommitMessagesCount > 0",
      v-on:click="toggleAllCommitMessagesBody(false)"
    ) hide all commit messages
  .panel-heading
    .group-name
      span(
        v-if="info.zFilterGroup === 'groupByAuthors'"
      ) {{ filteredUser.displayName }} ({{ filteredUser.name }})
      a(
        v-else,
        v-bind:href="info.zLocation", target="_blank",
        v-bind:title="'Click to open the repo'"
      )
        span {{ filteredUser.repoName }}
    .author(v-if="!info.zIsMerge")
      span &#8627; &nbsp;
      span(v-if="info.zFilterGroup === 'groupByAuthors'") {{ filteredUser.repoName }}
      span(v-else) {{ filteredUser.displayName }} ({{ filteredUser.name }})
    .period
      span &#8627; &nbsp;
      span {{ info.zSince }} to {{ info.zUntil }} &nbsp;
      a(v-on:click="openSummary") [Show ramp chart for this period]
  .zoom__title
    .zoom__title--granularity granularity: one ramp per {{ info.zTimeFrame }}
    .zoom__title--tags
      template(v-for="commit in filteredUser.commits")
        template(v-for="commitResult in commit.commitResults")
          template(v-if="commitResult.tags")
            .tag(
              v-for="tag in commitResult.tags",
              v-on:click="scrollToCommit(tag, `tag ${commitResult.hash}`)"
            )
              font-awesome-icon(icon="tags")
              span &nbsp;{{ tag }}

  v-ramp(
    v-bind:groupby="info.zFilterGroup",
    v-bind:user="filteredUser",
    v-bind:tframe="info.zTimeFrame",
    v-bind:sdate="info.zSince",
    v-bind:udate="info.zUntil",
    v-bind:avgsize="info.zAvgCommitSize",
    v-bind:mergegroup="info.zIsMerge",
    v-bind:fromramp="info.zFromRamp",
    v-bind:filtersearch="info.zFilterSearch")

  .sorting.mui-form--inline
    .mui-select.sort-by
      select(v-model="commitsSortType")
        option(value="time") Time
        option(value="lineOfCode") LoC
      label sort by
    .mui-select.sort-order
      select(v-model="toReverseSortedCommits")
        option(v-bind:value='true') Descending
        option(v-bind:value='false') Ascending
      label order

  .fileTypes
    .checkboxes.mui-form--inline(v-if="fileTypes.length > 0")
      label(style='background-color: #000000; color: #ffffff')
        input.mui-checkbox--fileType(type="checkbox", v-model="isSelectAllChecked", value="all")
        span All&nbsp;
      template(v-for="fileType in fileTypes")
        label(
          v-bind:key="fileType",
          v-bind:style="{\
                  'background-color': fileTypeColors[fileType],\
                  'color': this.getFontColor(fileTypeColors[fileType])\
                  }"
        )
          input.mui-checkbox--fileType(type="checkbox", v-bind:value="fileType",
            v-on:change="updateSelectedFileTypesHash", v-model="selectedFileTypes")
          span {{ fileType }} &nbsp;

  .zoom__day(v-for="day in selectedCommits", v-bind:key="day.date")
    h3(v-if="info.zTimeFrame === 'week'") Week of {{ day.date }}
    h3(v-else) {{ day.date }}
    template(v-for="slice in day.commitResults")
      v-zoom-commit(
        v-bind:key="slice.hash",
        v-bind:default-expansion-state='showAllCommitMessageBody',
        v-bind:slice='slice',
        v-bind:selected-file-types='selectedFileTypes',
        v-on:increment-expanded-count='expandedCommitMessagesCount += 1',
        v-on:decrement-expanded-count='expandedCommitMessagesCount -= 1'
      )
